<section class="about flex_column">
  <h2>Change your experiences into solutions.</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit et molestias quis perferendis eaque corporis odio architecto iste ullam, doloremque, id similique reiciendis, nostrum rem.</p>
</section>